:root{
    --body--color: #ccc;
    --bg--color: #f8f9fe;
    --color--text:#1a0000;
   
}

.dark-theme{
    --body--color: hsl(230, 17%, 14%);
    --bg--color:hsl(228, 28%, 20%);
    --color--text:#f9f6f6;
}
